In [1]:
import pandas as pd
import numpy as np
import copy

In [2]:
tanscripts_read= "/home/androx/Documents/trabalho/datasets/Disease_genes/mane/Homo_sapiens.GRCh38.112.chr.gff3"
tanscripts_df = pd.read_csv(tanscripts_read, sep="\t", header=None)

tanscripts_df

,0,1,2,3,4,5,6,7,8
0,1,GRCh38,chromosome,1.0,248956422.0,.,.,.,"ID=chromosome:1;Alias=CM000663.2,chr1,NC_00000..."
1,1,.,biological_region,10469.0,11240.0,1.3e+03,.,.,external_name=oe %3D 0.79;logic_name=cpg
2,1,.,biological_region,10650.0,10657.0,0.999,+,.,logic_name=eponine
3,1,.,biological_region,10655.0,10657.0,0.999,-,.,logic_name=eponine
4,1,.,biological_region,10678.0,10687.0,0.999,+,.,logic_name=eponine
...,...,...,...,...,...,...,...,...,...
3516515,Y,.,biological_region,57215804.0,57215813.0,0.999,-,.,logic_name=eponine
3516516,Y,.,biological_region,57215832.0,57215840.0,0.999,+,.,logic_name=eponine
3516517,Y,.,biological_region,57215833.0,57215842.0,0.999,-,.,logic_name=eponine
3516518,Y,.,biological_region,57215862.0,57215867.0,0.999,+,.,logic_name=eponine
3516519,Y,.,biological_region,57215862.0,57215870.0,0.999,-,.,logic_name=eponine

In [3]:
tanscripts_df = tanscripts_df.rename(columns={0: 'Chr', 1: 'Genome', 2: 'Type', 3: 'First_index', 4: 'Last_index', 5: 'Value', 6: 'Signal', 7: 'Unknown', 8: 'Identifiers'})
tanscripts_df

,Chr,Genome,Type,First_index,Last_index,Value,Signal,Unknown,Identifiers
0,1,GRCh38,chromosome,1.0,248956422.0,.,.,.,"ID=chromosome:1;Alias=CM000663.2,chr1,NC_00000..."
1,1,.,biological_region,10469.0,11240.0,1.3e+03,.,.,external_name=oe %3D 0.79;logic_name=cpg
2,1,.,biological_region,10650.0,10657.0,0.999,+,.,logic_name=eponine
3,1,.,biological_region,10655.0,10657.0,0.999,-,.,logic_name=eponine
4,1,.,biological_region,10678.0,10687.0,0.999,+,.,logic_name=eponine
...,...,...,...,...,...,...,...,...,...
3516515,Y,.,biological_region,57215804.0,57215813.0,0.999,-,.,logic_name=eponine
3516516,Y,.,biological_region,57215832.0,57215840.0,0.999,+,.,logic_name=eponine
3516517,Y,.,biological_region,57215833.0,57215842.0,0.999,-,.,logic_name=eponine
3516518,Y,.,biological_region,57215862.0,57215867.0,0.999,+,.,logic_name=eponine
3516519,Y,.,biological_region,57215862.0,57215870.0,0.999,-,.,logic_name=eponine

In [4]:
tanscripts_df['Type'].unique()

array(['chromosome', 'biological_region', 'ncRNA_gene', 'lnc_RNA', 'exon',
       nan, 'pseudogene', 'pseudogenic_transcript', 'miRNA', 'gene',
       'mRNA', 'five_prime_UTR', 'CDS', 'three_prime_UTR', 'snRNA',
       'transcript', 'unconfirmed_transcript', 'snoRNA', 'scRNA', 'rRNA',
       'processed_transcript', 'V_gene_segment', 'D_gene_segment',
       'J_gene_segment', 'C_gene_segment', 'tRNA'], dtype=object)

In [5]:
chromosmes = tanscripts_df.loc[tanscripts_df['Type'] == "chromosome"]
chromosmes

,Chr,Genome,Type,First_index,Last_index,Value,Signal,Unknown,Identifiers
0,1,GRCh38,chromosome,1.0,248956422.0,.,.,.,"ID=chromosome:1;Alias=CM000663.2,chr1,NC_00000..."
328201,10,GRCh38,chromosome,1.0,133797422.0,.,.,.,"ID=chromosome:10;Alias=CM000672.2,chr10,NC_000..."
467767,11,GRCh38,chromosome,1.0,135086622.0,.,.,.,"ID=chromosome:11;Alias=CM000673.2,chr11,NC_000..."
673000,12,GRCh38,chromosome,1.0,133275309.0,.,.,.,"ID=chromosome:12;Alias=CM000674.2,chr12,NC_000..."
862634,13,GRCh38,chromosome,1.0,114364328.0,.,.,.,"ID=chromosome:13;Alias=CM000675.2,chr13,NC_000..."
924501,14,GRCh38,chromosome,1.0,107043718.0,.,.,.,"ID=chromosome:14;Alias=CM000676.2,chr14,NC_000..."
1048326,15,GRCh38,chromosome,1.0,101991189.0,.,.,.,"ID=chromosome:15;Alias=CM000677.2,chr15,NC_000..."
1171301,16,GRCh38,chromosome,1.0,90338345.0,.,.,.,"ID=chromosome:16;Alias=CM000678.2,chr16,NC_000..."
1329042,17,GRCh38,chromosome,1.0,83257441.0,.,.,.,"ID=chromosome:17;Alias=CM000679.2,chr17,NC_000..."
1536644,18,GRCh38,chromosome,1.0,80373285.0,.,.,.,"ID=chromosome:18;Alias=CM000680.2,chr18,NC_000..."
1598313,19,GRCh38,chromosome,1.0,58617616.0,.,.,.,"ID=chromosome:19;Alias=CM000681.2,chr19,NC_000..."
1791801,2,GRCh38,chromosome,1.0,242193529.0,.,.,.,"ID=chromosome:2;Alias=CM000664.2,chr2,NC_00000..."
2063156,20,GRCh38,chromosome,1.0,64444167.0,.,.,.,"ID=chromosome:20;Alias=CM000682.2,chr20,NC_000..."
2145930,21,GRCh38,chromosome,1.0,46709983.0,.,.,.,"ID=chromosome:21;Alias=CM000683.2,chr21,NC_000..."
2186784,22,GRCh38,chromosome,1.0,50818468.0,.,.,.,"ID=chromosome:22;Alias=CM000684.2,chr22,NC_000..."
2261287,3,GRCh38,chromosome,1.0,198295559.0,.,.,.,"ID=chromosome:3;Alias=CM000665.2,chr3,NC_00000..."
2484781,4,GRCh38,chromosome,1.0,190214555.0,.,.,.,"ID=chromosome:4;Alias=CM000666.2,chr4,NC_00000..."
2628956,5,GRCh38,chromosome,1.0,181538259.0,.,.,.,"ID=chromosome:5;Alias=CM000667.2,chr5,NC_00000..."
2786252,6,GRCh38,chromosome,1.0,170805979.0,.,.,.,"ID=chromosome:6;Alias=CM000668.2,chr6,NC_00000..."
2952608,7,GRCh38,chromosome,1.0,159345973.0,.,.,.,"ID=chromosome:7;Alias=CM000669.2,chr7,NC_00000..."
3120542,8,GRCh38,chromosome,1.0,145138636.0,.,.,.,"ID=chromosome:8;Alias=CM000670.2,chr8,NC_00000..."
3248106,9,GRCh38,chromosome,1.0,138394717.0,.,.,.,"ID=chromosome:9;Alias=CM000671.2,chr9,NC_00000..."
3384196,MT,GRCh38,chromosome,1.0,16569.0,.,.,.,"ID=chromosome:MT;Alias=chrM,J01415.2,NC_012920.1"
3384360,X,GRCh38,chromosome,1.0,156040895.0,.,.,.,"ID=chromosome:X;Alias=CM000685.2,chrX,NC_00002..."
3505822,Y,GRCh38,chromosome,1.0,57227415.0,.,.,.,"ID=chromosome:Y;Alias=CM000686.2,chrY,NC_00002..."

In [6]:
genes = tanscripts_df.loc[tanscripts_df['Type'] == "gene"]
genes

,Chr,Genome,Type,First_index,Last_index,Value,Signal,Unknown,Identifiers
93,1,ensembl_havana,gene,65419.0,71585.0,.,+,.,ID=gene:ENSG00000186092;Name=OR4F5;biotype=pro...
395,1,ensembl_havana,gene,450740.0,451678.0,.,-,.,ID=gene:ENSG00000284733;Name=OR4F29;biotype=pr...
541,1,ensembl_havana,gene,685716.0,686654.0,.,-,.,ID=gene:ENSG00000284662;Name=OR4F16;biotype=pr...
1161,1,ensembl_havana,gene,923923.0,944575.0,.,+,.,ID=gene:ENSG00000187634;Name=SAMD11;biotype=pr...
1524,1,ensembl_havana,gene,944203.0,959309.0,.,-,.,ID=gene:ENSG00000188976;Name=NOC2L;biotype=pro...
...,...,...,...,...,...,...,...,...,...
3515710,Y,ensembl_havana,gene,25030901.0,25062548.0,.,-,.,ID=gene:ENSG00000185894;Name=BPY2C;biotype=pro...
3515921,Y,ensembl_havana,gene,25622117.0,25624902.0,.,+,.,ID=gene:ENSG00000172288;Name=CDY1;biotype=prot...
3516228,Y,ensembl_havana,gene,57067865.0,57130289.0,.,+,.,ID=gene:ENSG00000292366;Name=VAMP7;biotype=pro...
3516327,Y,ensembl_havana,gene,57184216.0,57197337.0,.,+,.,ID=gene:ENSG00000292373;Name=IL9R;biotype=prot...
3516392,Y,ensembl_havana,gene,57207346.0,57212230.0,.,+,.,ID=gene:ENSG00000292372;Name=WASH6P;biotype=pr...

In [7]:
genes["Identifiers"]

93         ID=gene:ENSG00000186092;Name=OR4F5;biotype=pro...
395        ID=gene:ENSG00000284733;Name=OR4F29;biotype=pr...
541        ID=gene:ENSG00000284662;Name=OR4F16;biotype=pr...
1161       ID=gene:ENSG00000187634;Name=SAMD11;biotype=pr...
1524       ID=gene:ENSG00000188976;Name=NOC2L;biotype=pro...
                                 ...
3515710    ID=gene:ENSG00000185894;Name=BPY2C;biotype=pro...
3515921    ID=gene:ENSG00000172288;Name=CDY1;biotype=prot...
3516228    ID=gene:ENSG00000292366;Name=VAMP7;biotype=pro...
3516327    ID=gene:ENSG00000292373;Name=IL9R;biotype=prot...
3516392    ID=gene:ENSG00000292372;Name=WASH6P;biotype=pr...
Name: Identifiers, Length: 21547, dtype: object

In [8]:
CDSs = tanscripts_df.loc[tanscripts_df['Type'] == "CDS"]
CDSs

,Chr,Genome,Type,First_index,Last_index,Value,Signal,Unknown,Identifiers
99,1,havana,CDS,65565.0,65573.0,.,+,0,ID=CDS:ENSP00000493376;Parent=transcript:ENST0...
100,1,havana,CDS,69037.0,70008.0,.,+,0,ID=CDS:ENSP00000493376;Parent=transcript:ENST0...
398,1,ensembl_havana,CDS,450740.0,451678.0,.,-,0,ID=CDS:ENSP00000409316;Parent=transcript:ENST0...
544,1,ensembl_havana,CDS,685716.0,686654.0,.,-,0,ID=CDS:ENSP00000329982;Parent=transcript:ENST0...
1165,1,havana,CDS,924432.0,924948.0,.,+,0,ID=CDS:ENSP00000478421;Parent=transcript:ENST0...
...,...,...,...,...,...,...,...,...,...
3516411,Y,havana,CDS,57209532.0,57209733.0,.,+,0,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...
3516413,Y,havana,CDS,57209822.0,57209980.0,.,+,2,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...
3516415,Y,havana,CDS,57210640.0,57210792.0,.,+,2,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...
3516417,Y,havana,CDS,57211552.0,57211620.0,.,+,2,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...
3516419,Y,havana,CDS,57211761.0,57211894.0,.,+,2,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...

In [9]:
exons = tanscripts_df.loc[tanscripts_df['Type'] == "exon"]
exons

,Chr,Genome,Type,First_index,Last_index,Value,Signal,Unknown,Identifiers
18,1,havana,exon,11869.0,12227.0,.,+,.,Parent=transcript:ENST00000456328;Name=ENSE000...
19,1,havana,exon,12613.0,12721.0,.,+,.,Parent=transcript:ENST00000456328;Name=ENSE000...
20,1,havana,exon,13221.0,14409.0,.,+,.,Parent=transcript:ENST00000456328;Name=ENSE000...
24,1,havana,exon,12010.0,12057.0,.,+,.,Parent=transcript:ENST00000450305;Name=ENSE000...
25,1,havana,exon,12179.0,12227.0,.,+,.,Parent=transcript:ENST00000450305;Name=ENSE000...
...,...,...,...,...,...,...,...,...,...
3516493,Y,havana,exon,57212184.0,57213125.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...
3516494,Y,havana,exon,57213204.0,57213357.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...
3516495,Y,havana,exon,57213526.0,57213602.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...
3516496,Y,havana,exon,57213880.0,57213964.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...
3516497,Y,havana,exon,57214350.0,57214397.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...

In [10]:
UTR3 = tanscripts_df.loc[tanscripts_df['Type'] == "three_prime_UTR"]
UTR3

,Chr,Genome,Type,First_index,Last_index,Value,Signal,Unknown,Identifiers
102,1,havana,three_prime_UTR,70009.0,71585.0,.,+,.,Parent=transcript:ENST00000641515
1192,1,havana,three_prime_UTR,944154.0,944574.0,.,+,.,Parent=transcript:ENST00000616016
1223,1,havana,three_prime_UTR,944154.0,944574.0,.,+,.,Parent=transcript:ENST00000618323
1266,1,havana,three_prime_UTR,944154.0,944574.0,.,+,.,Parent=transcript:ENST00000342066
1415,1,havana,three_prime_UTR,944154.0,944575.0,.,+,.,Parent=transcript:ENST00000341065
...,...,...,...,...,...,...,...,...,...
3516273,Y,havana,three_prime_UTR,57128403.0,57128464.0,.,+,.,Parent=transcript:ENST00000711262
3516298,Y,ensembl_havana,three_prime_UTR,57128660.0,57130289.0,.,+,.,Parent=transcript:ENST00000711264
3516315,Y,ensembl_havana,three_prime_UTR,57128472.0,57128509.0,.,+,.,Parent=transcript:ENST00000711265
3516348,Y,ensembl_havana,three_prime_UTR,57196930.0,57197337.0,.,+,.,Parent=transcript:ENST00000711286
3516369,Y,ensembl_havana,three_prime_UTR,57196373.0,57197337.0,.,+,.,Parent=transcript:ENST00000711287

In [11]:
UTR5 = tanscripts_df.loc[tanscripts_df['Type'] == "five_prime_UTR"]
UTR5

,Chr,Genome,Type,First_index,Last_index,Value,Signal,Unknown,Identifiers
96,1,havana,five_prime_UTR,65419.0,65433.0,.,+,.,Parent=transcript:ENST00000641515
97,1,havana,five_prime_UTR,65520.0,65564.0,.,+,.,Parent=transcript:ENST00000641515
1163,1,havana,five_prime_UTR,923923.0,924431.0,.,+,.,Parent=transcript:ENST00000616016
1194,1,havana,five_prime_UTR,923923.0,924431.0,.,+,.,Parent=transcript:ENST00000618323
1226,1,havana,five_prime_UTR,925150.0,925189.0,.,+,.,Parent=transcript:ENST00000437963
...,...,...,...,...,...,...,...,...,...
3516285,Y,ensembl_havana,five_prime_UTR,57075978.0,57075986.0,.,+,.,Parent=transcript:ENST00000711264
3516301,Y,ensembl_havana,five_prime_UTR,57067898.0,57067968.0,.,+,.,Parent=transcript:ENST00000711265
3516302,Y,ensembl_havana,five_prime_UTR,57075978.0,57075986.0,.,+,.,Parent=transcript:ENST00000711265
3516329,Y,ensembl_havana,five_prime_UTR,57184216.0,57184279.0,.,+,.,Parent=transcript:ENST00000711286
3516350,Y,ensembl_havana,five_prime_UTR,57184226.0,57184263.0,.,+,.,Parent=transcript:ENST00000711287

In [12]:
tanscripts_df = None

In [13]:
def element_matrix(chromosomes_df, sequence_df):
    """
    The matrix representing all intances of a sequence type available from the original transcripts dataframe
    sequence_df = Genes, CDSs, 5 or 3 prime UTR 
    """
    Chromosomes_matrix = []
    for line in chromosomes_df.index:
        chromosome = chromosomes_df["Chr"][line]
        print("searching citobands in chromossome: ", chromosome)
        chr_size = int(chromosomes_df["Last_index"][line])
        chr_sequence = sequence_df.loc[sequence_df['Chr'] == chromosome]
        chr_array = np.zeros((chr_size), dtype=int)
        #elements region
        for row in chr_sequence.index:
            chr_array[int(chr_sequence["First_index"][row]) : int(chr_sequence["Last_index"][row])] += 1
                
        
        Chromosomes_matrix.append(chr_array)
    return Chromosomes_matrix

In [14]:
def introns_exons_matrix(chromosomes_df, sequence1_df, exons_df):
    """
    sequence1 = CDS_df, 5 prime UTR or 3 prime UTR
    if sequence1_df: +2
    if exon: +1
    introns = 2
    exons = 3
    """
    Chromosomes_matrix = []
    for line in chromosomes_df.index:
        chromosome = chromosomes_df["Chr"][line]
        print("searching citobands in chromossome: ", chromosome)
        chr_size = int(chromosomes_df["Last_index"][line])
        chr_sequence = sequence1_df.loc[sequence1_df['Chr'] == chromosome]         #can be CDS, 5 prime UTR or 3 prime UTR
        chr_exons = exons_df.loc[exons_df['Chr'] == chromosome]
        chr_array = np.zeros((chr_size), dtype=int)
        #elements region
        #CDS region
        for row in chr_sequence.index:
            chr_array[int(chr_sequence["First_index"][row]): int(chr_sequence["Last_index"][row])] += 2
        #exons region
        for row in chr_exons.index:
            chr_array[int(chr_exons["First_index"][row]): int(chr_exons["Last_index"][row])] += 1
        
        Chromosomes_matrix.append(chr_array)
    return Chromosomes_matrix

In [15]:
def calc_elementDensity(cytobands_df, element_matrix, col_name="Element_density"):
    #cytobands_df = cytobands_df.drop(cytobands_df[cytobands_df['Chromossome'] == 'chrM'].index)
    densities = []
    chromosomes = cytobands_df["Chromossome"].unique()
    for chrom in range(len(cytobands_df["Chromossome"].unique())):             
        chr_cytobands = cytobands_df.loc[cytobands_df['Chromossome'] == cytobands_df["Chromossome"].unique()[chrom]]
        #Calculo da densidade para cada cytoband
        for row in chr_cytobands.index:
            cytoband_array = element_matrix[chrom][int(chr_cytobands["First_index"][row]):int(chr_cytobands["Last_index"][row])]
            dr_length = np.count_nonzero(cytoband_array)
            cytoband_length = chr_cytobands["Size"][row]
            density = dr_length/cytoband_length
            densities.append(round(density, 3))
        
    cytobands_df.insert(len(cytobands_df.columns), col_name, densities, True)

In [16]:
def calc_ExonIntronDensity(cytobands_df, introns_matrix, col_name1="intron_density", col_name2="exon_density"):
    #cytobands_df = cytobands_df.drop(cytobands_df[cytobands_df['Chromossome'] == 'chrM'].index)
    intron_densities = []
    exon_densities = []
    chromosomes = cytobands_df["Chromossome"].unique()
    for chrom in range(len(cytobands_df["Chromossome"].unique())):             
        chr_cytobands = cytobands_df.loc[cytobands_df['Chromossome'] == cytobands_df["Chromossome"].unique()[chrom]]
        #Calculo da densidade para cada cytoband
        for row in chr_cytobands.index:
            cytoband_array = introns_matrix[chrom][int(chr_cytobands["First_index"][row]):int(chr_cytobands["Last_index"][row])]
            intron_length = np.count_nonzero(cytoband_array == 2)         #para introns
            exon_length = np.count_nonzero(cytoband_array == 3)         #para exons
            cytoband_length = chr_cytobands["Size"][row] 
            intron_density = intron_length/cytoband_length
            exon_density = exon_length/cytoband_length
            intron_densities.append(round(intron_density, 3))
            exon_densities.append(round(exon_density, 3))
        
    cytobands_df.insert(len(cytobands_df.columns), col_name1, intron_densities, True)
    cytobands_df.insert(len(cytobands_df.columns), col_name2, exon_densities, True)

In [16]:
def writeNewtxt(file_path, df):
    """Writes a pandas dataframe into txt, columns separated by tabs ("\t")
    """
    f = open(file_path, 'w')
    df_cols = ""
    for col in df.columns[:-1]:
        df_cols += col + "\t"
    df_cols += df.columns.values[-1]+ "\n"
    f.write(str(df_cols))
    for row in df.values:
        df_row = ""
        for col in row[:-1]:
            df_row += str(col) + "\t"
        df_row += str(row[-1])+ "\n"
        f.write(df_row)
    f.close

In [4]:
cytoPath_read = "/home/androx/Documents/trabalho/citobands/cytobandFiltered_processed_str_dr.txt"
cytoPath_write = "/home/androx/Documents/trabalho/citobands/cytobandFiltered_processed_str_dr_dg.txt"

cytobands_df = pd.read_csv(cytoPath_read, sep="\t")#, header=None))
cytobands_df2 = pd.read_csv(cytoPath_write, sep="\t")

cytobands_df

,Chromossome,First_index,Last_index,Citoband,Unkown,Size,STR_Density,DR_density
0,chr1,0,2299999,p36.33,gneg,2299999,0.088,0.326
1,chr1,2300000,5299999,p36.32,gpos25,2999999,0.084,0.282
2,chr1,5300000,7099999,p36.31,gneg,1799999,0.056,0.275
3,chr1,7100000,9099999,p36.23,gpos25,1999999,0.049,0.405
4,chr1,9100000,12499999,p36.22,gneg,3399999,0.056,0.404
...,...,...,...,...,...,...,...,...
858,chrY,12400000,17099999,q11.221,gpos50,4699999,0.037,0.015
859,chrY,17100000,19599999,q11.222,gneg,2499999,0.062,0.013
860,chrY,19600000,23799999,q11.223,gpos50,4199999,0.082,0.006
861,chrY,23800000,26599999,q11.23,gneg,2799999,0.026,0.002
862,chrY,26600000,57227414,q12,gvar,30627414,0.006,0.001

In [19]:
#genes_matrix = element_matrix(chromosmes, genes)

In [20]:
#calc_elementDensity(cytobands_df, genes_matrix, "genes_density")
#cytobands_df

# Code running

In [11]:
cytobands_df2

,Chromossome,First_index,Last_index,Citoband,Unkown,Size,STR_Density,DR_density,CDSs_density,CDSIntron_density,CDSExon_density,5P_UTR_density,UTR5Intron_density,UTR5Exon_density,3P_UTR_density,UTR3Intron_density,UTR3Exon_density,Exons_density
0,chr1,0,2299999,p36.33,gneg,2299999,0.088,0.326,0.038,0.022,0.015,0.033,0.022,0.021,0.012,0.025,0.019,0.171
1,chr1,2300000,5299999,p36.32,gpos25,2999999,0.084,0.282,0.016,0.011,0.005,0.022,0.010,0.014,0.004,0.013,0.006,0.079
2,chr1,5300000,7099999,p36.31,gneg,1799999,0.056,0.275,0.024,0.010,0.008,0.034,0.009,0.020,0.006,0.012,0.010,0.082
3,chr1,7100000,9099999,p36.23,gpos25,1999999,0.049,0.405,0.013,0.004,0.002,0.018,0.003,0.010,0.005,0.004,0.004,0.047
4,chr1,9100000,12499999,p36.22,gneg,3399999,0.056,0.404,0.030,0.010,0.008,0.036,0.010,0.019,0.005,0.014,0.010,0.093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,chrY,12400000,17099999,q11.221,gpos50,4699999,0.037,0.015,0.004,0.001,0.001,0.003,0.001,0.003,0.001,0.001,0.003,0.016
859,chrY,17100000,19599999,q11.222,gneg,2499999,0.062,0.013,0.002,0.004,0.004,0.001,0.004,0.003,0.000,0.004,0.002,0.045
860,chrY,19600000,23799999,q11.223,gpos50,4199999,0.082,0.006,0.005,0.004,0.002,0.004,0.004,0.002,0.001,0.005,0.002,0.036
861,chrY,23800000,26599999,q11.23,gneg,2799999,0.026,0.002,0.003,0.002,0.000,0.002,0.003,0.001,0.001,0.003,0.001,0.034
862,chrY,26600000,57227414,q12,gvar,30627414,0.006,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.001

## CDS density study

In [22]:
#CDSs_matrix = element_matrix(chromosmes, CDSs)

In [23]:
#calc_elementDensity(cytobands_df, CDSs_matrix, "CDSs_density")
#cytobands_df

In [24]:
#writeNewtxt(cytoPath_write, cytobands_df)

## Exon and Intron densities within CDSs (Coding Sequences)

In [25]:
#CDS_introns_exons_matrix = introns_exons_matrix(chromosmes, CDSs, exons)

In [26]:
#calc_ExonIntronDensity(cytobands_df, CDS_introns_exons_matrix, "CDSIntron_density", "CDSExon_density")
#cytobands_df

In [27]:
#writeNewtxt(cytoPath_write, cytobands_df)

## Prime 5 UTR density study

In [28]:
#UTR5_matrix = element_matrix(chromosmes, UTR5)

In [29]:
#calc_elementDensity(cytobands_df, UTR5_matrix, "5P_UTR_density")
#cytobands_df

In [30]:
#writeNewtxt(cytoPath_write, cytobands_df)

## Exon and Intron densities within 5 Prime UTR

In [31]:
#UTR5_introns_exons_matrix = introns_exons_matrix(chromosmes, UTR5, exons)

In [32]:
#calc_ExonIntronDensity(cytobands_df2, UTR5_introns_exons_matrix, "UTR5Intron_density", "UTR5Exon_density")
#cytobands_df
#cytobands_df2

In [33]:
#writeNewtxt(cytoPath_write, cytobands_df2)

## Prime 3 UTR density study

In [34]:
#UTR3_matrix = element_matrix(chromosmes, UTR3)

In [35]:
#calc_elementDensity(cytobands_df2, UTR3_matrix, "3P_UTR_density")
#cytobands_df2

In [36]:
#writeNewtxt(cytoPath_write, cytobands_df2)

## Exon and Intron densities within 3 Prime UTR

In [37]:
#UTR3_introns_exons_matrix = introns_exons_matrix(chromosmes, UTR3, exons)

In [38]:
#calc_ExonIntronDensity(cytobands_df2, UTR3_introns_exons_matrix, "UTR3Intron_density", "UTR3Exon_density")
#cytobands_df2

In [39]:
#writeNewtxt(cytoPath_write, cytobands_df2)

## Exons density study

In [44]:
#exons_matrix = element_matrix(chromosmes, exons)

searching citobands in chromossome:  1
searching citobands in chromossome:  10
searching citobands in chromossome:  11
searching citobands in chromossome:  12
searching citobands in chromossome:  13
searching citobands in chromossome:  14
searching citobands in chromossome:  15
searching citobands in chromossome:  16
searching citobands in chromossome:  17
searching citobands in chromossome:  18
searching citobands in chromossome:  19
searching citobands in chromossome:  2
searching citobands in chromossome:  20
searching citobands in chromossome:  21
searching citobands in chromossome:  22
searching citobands in chromossome:  3
searching citobands in chromossome:  4
searching citobands in chromossome:  5
searching citobands in chromossome:  6
searching citobands in chromossome:  7
searching citobands in chromossome:  8
searching citobands in chromossome:  9
searching citobands in chromossome:  MT
searching citobands in chromossome:  X
searching citobands in chromossome:  Y

In [46]:
#calc_elementDensity(cytobands_df2, exons_matrix, "Exons_density")
#cytobands_df2

,Chromossome,First_index,Last_index,Citoband,Unkown,Size,STR_Density,DR_density,CDSs_density,CDSIntron_density,CDSExon_density,5P_UTR_density,UTR5Intron_density,UTR5Exon_density,3P_UTR_density,UTR3Intron_density,UTR3Exon_density,Exons_density
0,chr1,0,2299999,p36.33,gneg,2299999,0.088,0.326,0.038,0.022,0.015,0.033,0.022,0.021,0.012,0.025,0.019,0.171
1,chr1,2300000,5299999,p36.32,gpos25,2999999,0.084,0.282,0.016,0.011,0.005,0.022,0.010,0.014,0.004,0.013,0.006,0.079
2,chr1,5300000,7099999,p36.31,gneg,1799999,0.056,0.275,0.024,0.010,0.008,0.034,0.009,0.020,0.006,0.012,0.010,0.082
3,chr1,7100000,9099999,p36.23,gpos25,1999999,0.049,0.405,0.013,0.004,0.002,0.018,0.003,0.010,0.005,0.004,0.004,0.047
4,chr1,9100000,12499999,p36.22,gneg,3399999,0.056,0.404,0.030,0.010,0.008,0.036,0.010,0.019,0.005,0.014,0.010,0.093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,chrY,12400000,17099999,q11.221,gpos50,4699999,0.037,0.015,0.004,0.001,0.001,0.003,0.001,0.003,0.001,0.001,0.003,0.016
859,chrY,17100000,19599999,q11.222,gneg,2499999,0.062,0.013,0.002,0.004,0.004,0.001,0.004,0.003,0.000,0.004,0.002,0.045
860,chrY,19600000,23799999,q11.223,gpos50,4199999,0.082,0.006,0.005,0.004,0.002,0.004,0.004,0.002,0.001,0.005,0.002,0.036
861,chrY,23800000,26599999,q11.23,gneg,2799999,0.026,0.002,0.003,0.002,0.000,0.002,0.003,0.001,0.001,0.003,0.001,0.034
862,chrY,26600000,57227414,q12,gvar,30627414,0.006,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.001

In [47]:
#writeNewtxt(cytoPath_write, cytobands_df2)

In [43]:
#cytobands_df.values[cytobands_df.index[70]]

In [12]:
def sumOf_columns(df, colums=["CDSIntron_density", "UTR5Intron_density", "UTR3Intron_density"], newColName = "Introns_density"):
    """
    colums is a list of string
    """
    #cytobands_df = cytobands_df.drop(cytobands_df[cytobands_df['Chromossome'] == 'chrM'].index)
    new_densites = []
    for row in df.index:
        density =0
        for column in colums:
            density += df[column][row]
        new_densites.append(round(density, 3))
        
    df.insert(len(df.columns), newColName, new_densites, True)

In [14]:
#sumOf_columns(cytobands_df2)
cytobands_df2

,Chromossome,First_index,Last_index,Citoband,Unkown,Size,STR_Density,DR_density,CDSs_density,CDSIntron_density,CDSExon_density,5P_UTR_density,UTR5Intron_density,UTR5Exon_density,3P_UTR_density,UTR3Intron_density,UTR3Exon_density,Exons_density,Introns_density
0,chr1,0,2299999,p36.33,gneg,2299999,0.088,0.326,0.038,0.022,0.015,0.033,0.022,0.021,0.012,0.025,0.019,0.171,0.069
1,chr1,2300000,5299999,p36.32,gpos25,2999999,0.084,0.282,0.016,0.011,0.005,0.022,0.010,0.014,0.004,0.013,0.006,0.079,0.034
2,chr1,5300000,7099999,p36.31,gneg,1799999,0.056,0.275,0.024,0.010,0.008,0.034,0.009,0.020,0.006,0.012,0.010,0.082,0.031
3,chr1,7100000,9099999,p36.23,gpos25,1999999,0.049,0.405,0.013,0.004,0.002,0.018,0.003,0.010,0.005,0.004,0.004,0.047,0.011
4,chr1,9100000,12499999,p36.22,gneg,3399999,0.056,0.404,0.030,0.010,0.008,0.036,0.010,0.019,0.005,0.014,0.010,0.093,0.034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,chrY,12400000,17099999,q11.221,gpos50,4699999,0.037,0.015,0.004,0.001,0.001,0.003,0.001,0.003,0.001,0.001,0.003,0.016,0.003
859,chrY,17100000,19599999,q11.222,gneg,2499999,0.062,0.013,0.002,0.004,0.004,0.001,0.004,0.003,0.000,0.004,0.002,0.045,0.012
860,chrY,19600000,23799999,q11.223,gpos50,4199999,0.082,0.006,0.005,0.004,0.002,0.004,0.004,0.002,0.001,0.005,0.002,0.036,0.013
861,chrY,23800000,26599999,q11.23,gneg,2799999,0.026,0.002,0.003,0.002,0.000,0.002,0.003,0.001,0.001,0.003,0.001,0.034,0.008
862,chrY,26600000,57227414,q12,gvar,30627414,0.006,0.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.001,0.000

In [17]:
writeNewtxt(cytoPath_write, cytobands_df2)