In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.backends.backend_pdf
import matplotlib as mpl
import copy
from matplotlib.colors import LinearSegmentedColormap, ListedColormap

In [4]:
tanscripts_read= "/home/androx/Documents/trabalho/datasets/Disease_genes/mane/Homo_sapiens.GRCh38.112.chr.gff3"
tanscripts_df = pd.read_csv(tanscripts_read, sep="\t", header=None)

tanscripts_df

,0,1,2,3,4,5,6,7,8
0,1,GRCh38,chromosome,1.0,248956422.0,.,.,.,"ID=chromosome:1;Alias=CM000663.2,chr1,NC_00000..."
1,1,.,biological_region,10469.0,11240.0,1.3e+03,.,.,external_name=oe %3D 0.79;logic_name=cpg
2,1,.,biological_region,10650.0,10657.0,0.999,+,.,logic_name=eponine
3,1,.,biological_region,10655.0,10657.0,0.999,-,.,logic_name=eponine
4,1,.,biological_region,10678.0,10687.0,0.999,+,.,logic_name=eponine
...,...,...,...,...,...,...,...,...,...
3516515,Y,.,biological_region,57215804.0,57215813.0,0.999,-,.,logic_name=eponine
3516516,Y,.,biological_region,57215832.0,57215840.0,0.999,+,.,logic_name=eponine
3516517,Y,.,biological_region,57215833.0,57215842.0,0.999,-,.,logic_name=eponine
3516518,Y,.,biological_region,57215862.0,57215867.0,0.999,+,.,logic_name=eponine
3516519,Y,.,biological_region,57215862.0,57215870.0,0.999,-,.,logic_name=eponine

In [5]:
tanscripts_df = tanscripts_df.rename(columns={0: 'Chr', 1: 'Genome', 2: 'Type', 3: 'First_index', 4: 'Last_index', 5: 'Value', 6: 'Unknown1', 7: 'Unknown2', 8: 'Identifiers'})
tanscripts_df

,Chr,Genome,Type,First_index,Last_index,Value,Unknown1,Unknown2,Identifiers
0,1,GRCh38,chromosome,1.0,248956422.0,.,.,.,"ID=chromosome:1;Alias=CM000663.2,chr1,NC_00000..."
1,1,.,biological_region,10469.0,11240.0,1.3e+03,.,.,external_name=oe %3D 0.79;logic_name=cpg
2,1,.,biological_region,10650.0,10657.0,0.999,+,.,logic_name=eponine
3,1,.,biological_region,10655.0,10657.0,0.999,-,.,logic_name=eponine
4,1,.,biological_region,10678.0,10687.0,0.999,+,.,logic_name=eponine
...,...,...,...,...,...,...,...,...,...
3516515,Y,.,biological_region,57215804.0,57215813.0,0.999,-,.,logic_name=eponine
3516516,Y,.,biological_region,57215832.0,57215840.0,0.999,+,.,logic_name=eponine
3516517,Y,.,biological_region,57215833.0,57215842.0,0.999,-,.,logic_name=eponine
3516518,Y,.,biological_region,57215862.0,57215867.0,0.999,+,.,logic_name=eponine
3516519,Y,.,biological_region,57215862.0,57215870.0,0.999,-,.,logic_name=eponine

In [6]:
tanscripts_df['Type'].unique()

array(['chromosome', 'biological_region', 'ncRNA_gene', 'lnc_RNA', 'exon',
       nan, 'pseudogene', 'pseudogenic_transcript', 'miRNA', 'gene',
       'mRNA', 'five_prime_UTR', 'CDS', 'three_prime_UTR', 'snRNA',
       'transcript', 'unconfirmed_transcript', 'snoRNA', 'scRNA', 'rRNA',
       'processed_transcript', 'V_gene_segment', 'D_gene_segment',
       'J_gene_segment', 'C_gene_segment', 'tRNA'], dtype=object)

In [7]:
chromosmes = tanscripts_df.loc[tanscripts_df['Type'] == "chromosome"]
chromosmes

,Chr,Genome,Type,First_index,Last_index,Value,Unknown1,Unknown2,Identifiers
0,1,GRCh38,chromosome,1.0,248956422.0,.,.,.,"ID=chromosome:1;Alias=CM000663.2,chr1,NC_00000..."
328201,10,GRCh38,chromosome,1.0,133797422.0,.,.,.,"ID=chromosome:10;Alias=CM000672.2,chr10,NC_000..."
467767,11,GRCh38,chromosome,1.0,135086622.0,.,.,.,"ID=chromosome:11;Alias=CM000673.2,chr11,NC_000..."
673000,12,GRCh38,chromosome,1.0,133275309.0,.,.,.,"ID=chromosome:12;Alias=CM000674.2,chr12,NC_000..."
862634,13,GRCh38,chromosome,1.0,114364328.0,.,.,.,"ID=chromosome:13;Alias=CM000675.2,chr13,NC_000..."
924501,14,GRCh38,chromosome,1.0,107043718.0,.,.,.,"ID=chromosome:14;Alias=CM000676.2,chr14,NC_000..."
1048326,15,GRCh38,chromosome,1.0,101991189.0,.,.,.,"ID=chromosome:15;Alias=CM000677.2,chr15,NC_000..."
1171301,16,GRCh38,chromosome,1.0,90338345.0,.,.,.,"ID=chromosome:16;Alias=CM000678.2,chr16,NC_000..."
1329042,17,GRCh38,chromosome,1.0,83257441.0,.,.,.,"ID=chromosome:17;Alias=CM000679.2,chr17,NC_000..."
1536644,18,GRCh38,chromosome,1.0,80373285.0,.,.,.,"ID=chromosome:18;Alias=CM000680.2,chr18,NC_000..."
1598313,19,GRCh38,chromosome,1.0,58617616.0,.,.,.,"ID=chromosome:19;Alias=CM000681.2,chr19,NC_000..."
1791801,2,GRCh38,chromosome,1.0,242193529.0,.,.,.,"ID=chromosome:2;Alias=CM000664.2,chr2,NC_00000..."
2063156,20,GRCh38,chromosome,1.0,64444167.0,.,.,.,"ID=chromosome:20;Alias=CM000682.2,chr20,NC_000..."
2145930,21,GRCh38,chromosome,1.0,46709983.0,.,.,.,"ID=chromosome:21;Alias=CM000683.2,chr21,NC_000..."
2186784,22,GRCh38,chromosome,1.0,50818468.0,.,.,.,"ID=chromosome:22;Alias=CM000684.2,chr22,NC_000..."
2261287,3,GRCh38,chromosome,1.0,198295559.0,.,.,.,"ID=chromosome:3;Alias=CM000665.2,chr3,NC_00000..."
2484781,4,GRCh38,chromosome,1.0,190214555.0,.,.,.,"ID=chromosome:4;Alias=CM000666.2,chr4,NC_00000..."
2628956,5,GRCh38,chromosome,1.0,181538259.0,.,.,.,"ID=chromosome:5;Alias=CM000667.2,chr5,NC_00000..."
2786252,6,GRCh38,chromosome,1.0,170805979.0,.,.,.,"ID=chromosome:6;Alias=CM000668.2,chr6,NC_00000..."
2952608,7,GRCh38,chromosome,1.0,159345973.0,.,.,.,"ID=chromosome:7;Alias=CM000669.2,chr7,NC_00000..."
3120542,8,GRCh38,chromosome,1.0,145138636.0,.,.,.,"ID=chromosome:8;Alias=CM000670.2,chr8,NC_00000..."
3248106,9,GRCh38,chromosome,1.0,138394717.0,.,.,.,"ID=chromosome:9;Alias=CM000671.2,chr9,NC_00000..."
3384196,MT,GRCh38,chromosome,1.0,16569.0,.,.,.,"ID=chromosome:MT;Alias=chrM,J01415.2,NC_012920.1"
3384360,X,GRCh38,chromosome,1.0,156040895.0,.,.,.,"ID=chromosome:X;Alias=CM000685.2,chrX,NC_00002..."
3505822,Y,GRCh38,chromosome,1.0,57227415.0,.,.,.,"ID=chromosome:Y;Alias=CM000686.2,chrY,NC_00002..."

In [ ]:
genes = tanscripts_df.loc[tanscripts_df['Type'] == "gene"]
genes

In [ ]:
genes["Identifiers"]

In [8]:
CDSs = tanscripts_df.loc[tanscripts_df['Type'] == "CDS"]
CDSs

,Chr,Genome,Type,First_index,Last_index,Value,Unknown1,Unknown2,Identifiers
99,1,havana,CDS,65565.0,65573.0,.,+,0,ID=CDS:ENSP00000493376;Parent=transcript:ENST0...
100,1,havana,CDS,69037.0,70008.0,.,+,0,ID=CDS:ENSP00000493376;Parent=transcript:ENST0...
398,1,ensembl_havana,CDS,450740.0,451678.0,.,-,0,ID=CDS:ENSP00000409316;Parent=transcript:ENST0...
544,1,ensembl_havana,CDS,685716.0,686654.0,.,-,0,ID=CDS:ENSP00000329982;Parent=transcript:ENST0...
1165,1,havana,CDS,924432.0,924948.0,.,+,0,ID=CDS:ENSP00000478421;Parent=transcript:ENST0...
...,...,...,...,...,...,...,...,...,...
3516411,Y,havana,CDS,57209532.0,57209733.0,.,+,0,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...
3516413,Y,havana,CDS,57209822.0,57209980.0,.,+,2,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...
3516415,Y,havana,CDS,57210640.0,57210792.0,.,+,2,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...
3516417,Y,havana,CDS,57211552.0,57211620.0,.,+,2,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...
3516419,Y,havana,CDS,57211761.0,57211894.0,.,+,2,ID=CDS:ENSP00000518618;Parent=transcript:ENST0...

In [9]:
exons = tanscripts_df.loc[tanscripts_df['Type'] == "exon"]
exons

,Chr,Genome,Type,First_index,Last_index,Value,Unknown1,Unknown2,Identifiers
18,1,havana,exon,11869.0,12227.0,.,+,.,Parent=transcript:ENST00000456328;Name=ENSE000...
19,1,havana,exon,12613.0,12721.0,.,+,.,Parent=transcript:ENST00000456328;Name=ENSE000...
20,1,havana,exon,13221.0,14409.0,.,+,.,Parent=transcript:ENST00000456328;Name=ENSE000...
24,1,havana,exon,12010.0,12057.0,.,+,.,Parent=transcript:ENST00000450305;Name=ENSE000...
25,1,havana,exon,12179.0,12227.0,.,+,.,Parent=transcript:ENST00000450305;Name=ENSE000...
...,...,...,...,...,...,...,...,...,...
3516493,Y,havana,exon,57212184.0,57213125.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...
3516494,Y,havana,exon,57213204.0,57213357.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...
3516495,Y,havana,exon,57213526.0,57213602.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...
3516496,Y,havana,exon,57213880.0,57213964.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...
3516497,Y,havana,exon,57214350.0,57214397.0,.,-,.,Parent=transcript:ENST00000711270;Name=ENSE000...

In [ ]:
regions = tanscripts_df.loc[tanscripts_df['Type'] == "biological_region"]
regions

In [ ]:
tanscripts_df = None

In [ ]:
# Nao é util para já agregar todos od conjuntos, mais apropriado fazer um mapa de cada coisa

def calc_exons_introns(chromosomes_df, sequence_df, exons_df, genes_df, regions_df):
    """interval_df = Genes or CDSs
    +2⁰ = 1: is exon
    +2¹ = 2: is part of a region
    +2² = 4: is part of CDS
    +2³ = 8: is part of gene
    """
    Chrmosomes_matrix = []
    for line in chromosomes_df.index:
        chromosome = chromosomes_df["Chr"][line]
        print("searching citobands in chromossome: ", chromosome)
        chr_size = int(chromosomes_df["Last_index"][line])
        chromosome_elements = sequence_df.loc[sequence_df['Chr'] == chromosome]
        chromosome_exons = exons_df.loc[exons_df['Chr'] == chromosome]
        chr_genes = genes_df.loc[genes_df['Chr'] == chromosome]
        chr_regions = regions_df.loc[regions_df['Chr'] == chromosome]
        element_introns = np.zeros((chr_size), dtype=int)
        #genes region
        for row in chr_genes.index:
            for i in range (int(chr_genes["First_index"][row]), int(chr_genes["Last_index"][row])):
                element_introns[i]+=8
        #CDS region
        for row in chromosome_elements.index:
            for i in range (int(chromosome_elements["First_index"][row]), int(chromosome_elements["Last_index"][row])):
                element_introns[i]+=4
        #other regions
        for row in chr_regions.index:
            for i in range (int(chr_regions["First_index"][row]), int(chr_regions["Last_index"][row])):
                element_introns[i]+=2
        #exons region
        for row in chromosome_exons.index:
            for i in range (int(chromosome_exons["First_index"][row]), int(chromosome_exons["Last_index"][row])):
                element_introns[i]+=1
        
        Chrmosomes_matrix.append(element_introns)
    return Chrmosomes_matrix

In [11]:
def element_matrix(chromosomes_df, sequence_df):
    """
    sequence_df = Genes or CDSs, exons or other_regions
    """
    Chromosomes_matrix = []
    for line in chromosomes_df.index:
        chromosome = chromosomes_df["Chr"][line]
        print("searching citobands in chromossome: ", chromosome)
        chr_size = int(chromosomes_df["Last_index"][line])
        chr_sequence = sequence_df.loc[sequence_df['Chr'] == chromosome]
        chr_array = np.zeros((chr_size), dtype=int)
        #elements region
        for row in chr_sequence.index:
            for i in range (int(chr_sequence["First_index"][row]), int(chr_sequence["Last_index"][row])):
                chr_array[i]+=1
        
        Chromosomes_matrix.append(chr_array)
    return Chromosomes_matrix

In [13]:
def introns_exons_matrix(chromosomes_df, CDS_df, exons_df):
    """
    sequence_df = Genes or CDSs, exons or other_regions
    if CDS element: +2
    if exon: +1
    introns = 2
    exons = 3
    """
    Chromosomes_matrix = []
    for line in chromosomes_df.index:
        chromosome = chromosomes_df["Chr"][line]
        print("searching citobands in chromossome: ", chromosome)
        chr_size = int(chromosomes_df["Last_index"][line])
        chr_CDS = CDS_df.loc[CDS_df['Chr'] == chromosome]
        chromosome_exons = exons_df.loc[exons_df['Chr'] == chromosome]
        chr_array = np.zeros((chr_size), dtype=int)
        #elements region
        #CDS region
        for row in chr_CDS.index:
            for i in range (int(chr_CDS["First_index"][row]), int(chr_CDS["Last_index"][row])):
                chr_array[i]+=2
        #exons region
        for row in chromosome_exons.index:
            for i in range (int(chromosome_exons["First_index"][row]), int(chromosome_exons["Last_index"][row])):
                chr_array[i]+=1
        
        Chromosomes_matrix.append(chr_array)
    return Chromosomes_matrix

In [ ]:
exons_matrix = element_matrix(chromosmes, exons)
exons_matrix

searching citobands in chromossome:  1
searching citobands in chromossome:  10
searching citobands in chromossome:  11
searching citobands in chromossome:  12
searching citobands in chromossome:  13
searching citobands in chromossome:  14
searching citobands in chromossome:  15
searching citobands in chromossome:  16
searching citobands in chromossome:  17
searching citobands in chromossome:  18
searching citobands in chromossome:  19
searching citobands in chromossome:  2

In [ ]:
introns_matrix = introns_exons_matrix(chromosmes, CDSs, exons)
introns_matrix

In [ ]:
#otherRegions_matrix = calc_group(chromosmes, regions)
#otherRegions_matrix

In [19]:
def calc_elementDensity(cytobands_df, element_matrix, col_name="Element_density"):
    densities = []
    chrom_n = 0
    for chrom in cytobands_df["Chromossome"].unique():             
        chr_cytobands = cytobands_df.loc[cytobands_df['Type'] == chrom]
        #Calculo da densidade para cada cytoband
        for cytoband in range(len(chr_cytobands.values)):
            cytoband_array = element_matrix[chrom_n][int(chr_cytobands["First_index"][cytoband]):int(chr_cytobands["Last_index"][cytoband])]
            dr_length = np.count_nonzero(cytoband_array)
            cytoband_length = cytobands_chr["Size"][cytoband]
            density = dr_length/cytoband_length
            densities.append(round(density, 3))
            chrom_n +=1
        
    cytobands_df.insert(len(cytobands_df.columns), col_name, densities, True)

In [17]:
cytoPath_read = "/home/androx/Documents/trabalho/citobands/cytobandFiltered_processed_str_dr.txt"
cytoPath_write = "/home/androx/Documents/trabalho/citobands/cytobandFiltered_processed_str_dr_dg.txt"

cytobands_df = pd.read_csv(cytoPath_read, sep="\t")#, header=None))

cytobands_df

,Chromossome,First_index,Last_index,Citoband,Unkown,Size,STR_Density,DR_density
0,chr1,0,2299999,p36.33,gneg,2299999,0.088,0.326
1,chr1,2300000,5299999,p36.32,gpos25,2999999,0.084,0.282
2,chr1,5300000,7099999,p36.31,gneg,1799999,0.056,0.275
3,chr1,7100000,9099999,p36.23,gpos25,1999999,0.049,0.405
4,chr1,9100000,12499999,p36.22,gneg,3399999,0.056,0.404
...,...,...,...,...,...,...,...,...
858,chrY,12400000,17099999,q11.221,gpos50,4699999,0.037,0.015
859,chrY,17100000,19599999,q11.222,gneg,2499999,0.062,0.013
860,chrY,19600000,23799999,q11.223,gpos50,4199999,0.082,0.006
861,chrY,23800000,26599999,q11.23,gneg,2799999,0.026,0.002
862,chrY,26600000,57227414,q12,gvar,30627414,0.006,0.001

In [20]:
calc_elementDensity(cytobands_df, exons_matrix, "Exons_density")
cytobands_df

NameError: name 'exons_matrix' is not defined